.header {
	height: 100vh;
	background-image: url(jeans1.jpg);
	background-size: cover;
	background-position: center;
    border: 5px solid #262626;
}
.carousel-item {
	margin-top: 20%;
}
.carousel-item h1 {
	font-family: "Great Vibes", cursive;
	font-size: 80px;
    color: black;
    font-weight: 15px bold;


}
.carousel-item p {
	font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: black;
    font-weight: 4px bold;
}
.carousel-item h1,
.carousel-item p {
    background-color: rgba(255, 248, 220, 0.814); /* Semi-transparent beige */
    /* padding: 20px; */
    margin: 0; /* Reset default margins to prevent unintended gaps */

}

@media (min-width: 768px) and (max-width: 991px) {
	.header {
		background-position: 68%;
	}
	.carousel-item {
		margin-top: 50%;
	}
}
@media (max-width: 767px) {
	.carousel-item {
		margin-top: 45%;
	}
	.carousel-item h1 {
		font-size: 32px;
	}
}

.navbar-brand {
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-style: normal;
}


